body
{
    background: linear-gradient(to bottom, rgb(255, 252, 100), rgb(114, 154, 255));
    background-attachment: fixed;
}

.form_container
{
    border: solid 4px black;
    padding: 0.5rem;

}

.column
{
    align: center;
}

.row
{
    align: center;
}