<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decision Domain</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='choices.css') }}">

</head>
<body>
    <h1>
        Decision Domain
    </h1>

    <section class="form_container">
        <form class="form-info" action="sets" method="GET">
            
            <div class="dropdown"> 
                <label for="limit"> Results per page
                    <select for="limit" default="50" name="limit" value="{{limit}}">
                        <option value="10"> 10 </option>
                        <option value="50" selected> 50 </option>
                        <option value="100"> 100 </option>
                        <option value="250"> 250 </option>
                    </select>
                </label>
            </div>
            
            <label class="button">
                <button type="Submit Answer!" > </button>
            </label>
        </form> 
    </section> 

    <section>
        <div class="output_header"> 
            <h2> Displaying {{count}} Results ... </h2>
        </div>

        <table class="table">
            <tbody>
                {% for row in search %}
                <tr class="row">
                    <td> {{row.set_num}} </td>
                    <td> {{row.set_name }} </td>
                    <td> {{row.theme_name }} </td>
                    <td> {{row.year}} </td>
                    <td> {{row.part_count }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>
</html>