<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info - Decision Domain</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='info.css') }}">

    <h1 class="fancy">How to Play</h1>

    <div class="flex-parent jc-center">
      <h2>Rule #1</h2> <br>
    </div>
    <h3>There are two buttons.</h3>
    
    <div class="flex-parent jc-center">
      <h2>Rule #2</h2>
    </div>
    <h3>Click one of them.</h3>
    
    <div class="flex-parent jc-center">
      <h2>Rule #3</h2>
    </div>
    <h3>Be honest and true.</h3>
    
    <div class="flex-parent jc-center">
      <h2>Rule #4</h2>
    </div>
    <h3>Enjoy your time here.</h3>
    
    <div class="footer">
    </div>
    
    <div class="footer">
      <p class="footer-text">
        Created By: Daniel Ma, Andrew Bauer, Vincent Sison, Tristan Pearson
      </p>
    </div>