<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions - Decision Domain</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='questions.css') }}">

<h1 class="fancy">What Type of Cat?</h1>

<div class="flex-parent jc-center">
  <button type="submit" class="btn left">Cat</button>
  <button type="submit" class="btn right">Longer Cat</button>
</div>

<div class="footer">
</div>

<div class="footer">
  <p class="footer-text">
    Created By: Daniel Ma, Andrew Bauer, Vincent Sison, Tristan Pearson
  </p>
</div>